@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-6">Bem Vindo</h1>
    <p>Sua livraria virtual de livros novos, usados e seminovos</p>
    <h1></h1>
    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
</div>
